/* CONTENEDOR GENERAL */
.dashboard-container {
  padding: 30px;
}

/* HEADER */
.dashboard-header {
  background: linear-gradient(135deg, #5F9EA0, #F08080);
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* TARJETAS */
.dashboard-card {
  border-radius: 12px;
  border: none;
  background: white;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* TITULOS */
.dashboard-title {
  font-weight: 600;
}

/* TEXTO SUAVE */
.text-muted-custom {
  color: #666;
}

/* INPUTS */
.dashboard-input {
  border-radius: 8px;
}

.dashboard-card h5 {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 15px;
}