
/* NAVBAR GENERAL */
.custom-navbar {
  background-color: white;
  padding: 12px 0;
}

/* LOGO */
.logo {
  width: 40px;
  height: 40px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.brand-text {
  font-weight: 600;
  font-size: 18px;
}

/* MENU */
.nav-center .nav-link {
  font-weight: 500;
  color: #333;
}

.nav-center .nav-link:hover {
  color: #5F9EA0;
}

/* USUARIO */
.user-text {
  margin-right: 10px;
  font-weight: 500;
}

/* BOTONES */
.btn-panel {
  background-color: #5F9EA0;
  border: none;
}

.btn-panel:hover {
  background-color: #4e8b8d;
}

.btn-logout {
  background-color: #dc3545;
  border: none;
}

.btn-logout:hover {
  background-color: #bb2d3b;
}

.nav-right button {
  margin-left: 8px;
}